{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}

    <meta charset="UTF-8">

    <title>{% block title %}Todo App{% endblock  %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
</head>
<body>
    <div class="navbar">
        
    <nav >
        
        <a href="/">Home</a> 
        <a href="{% url 'task'%}">MyTasks</a>
        <a href="{% url 'about'%}">About</a>
    </nav>
</div> 
    {% block content %}    {% endblock  %}
    
    
     
   
   
</body>
</html>